<div class="box">
  <div class="box-header with-border pull-left" style = "border: none">
    <button type="button" type="button" id ="toSave" class="btn btn-block btn-warning btn-lg"> 添加图书</button>
  </div>
  <div class="box-tools pagination pagination-sm no-margin pull-right" style="margin-top: 20px !important;margin-right: 20px !important">
      <div class="input-group input-group-sm" style="width: 150px;">
        <input type="text" name="table_search" id="searchValue" class="form-control pull-right" placeholder="Search">

        <div class="input-group-btn">
          <button type="button" id="search" class="btn btn-default"><i class="fa fa-search"></i></button>
        </div>
      </div>
  </div>
  <!-- /.box-header <i class=" glyphicon glyphicon-plus"></i> -->
  <div class="box-body" style="clear:both; border-top: 1px solid #f4f4f4;">
      {{if data.item.length > 0}}
    <table class="table table-bordered" style="text-align:center; vertical-align:middle">
      <tbody><tr>
        <th style="width: 40px">#</th>
        <th style="width:120px;">图片</th>
        <th>书名</th>
        <th>作者</th>
        <th>出版社</th>
        <th>出版年份</th>
        <th>类型</th>
        <th>编码</th>
        <th>可借阅数量</th>
        <th style="width: 200px">操作</th>
      </tr>
      
      {{each data.item}}
      <tr data-id="{{ $value._id }}">
        <td> {{$index + 1 }} </td>
        <td><img src="http://10.9.189.4:3000/{{$value.bookimg}}" alt=""></td>
        <td>
         {{ $value.bookname }}
        </td>
        <td>
          {{ $value.author }}
        </td>
        <td>{{ $value.publishingHouse }}</td>
        <td>{{ $value.year }}</td>
        <td> {{$value.type }} </td>
        <td>{{ $value.isbn }}</td>
        <td> {{$value.surplus }} </td>
        <td>
          <button type="button" class="btn btn-info btnChange" >修改</button>
          <button type="button" class="btn btn-danger btnDelete">删除</button>
        </td>
      </tr>
     {{/each}}
     {{else }}
     <div class="callout callout-info">
        <h4>Tip!</h4>

        <p>还没有数据，请添加书籍</p>
      </div>

     {{/if}}
    </tbody></table>
  </div>
  <!-- /.box-body -->
  {{if data.item.length > 0}}
  <div class="box-footer clearfix">
    <ul class="pagination pagination-sm no-margin pull-right">
      <li><a href="#/bookList?pageNo={{data.pageInfo.pageNo == 1 ? 1 : data.pageInfo.pageNo -1}}">«</a></li>
      <% for(var i = 0; i < data.pageInfo.pageSum; i++) {%>
      <li class="{{if data.pageInfo.pageNo == i+1 }} active {{/if}}"><a href="#/bookList?pageNo={{i+1}}">{{i+1}}</a></li>
      <%} %>
      <li><a href="#/bookList?pageNo={{data.pageInfo.pageNo == data.pageInfo.pageSum? data.pageInfo.pageSum : ~~data.pageInfo.pageNo + 1 }}">»</a></li>
    </ul>
  </div>
  {{/if}}
</div>