section{
    .error-content{
        padding-top: 20px        
    }
}
body{
    font-family:Arial,Helvetica,sans-serif;
    color:#4e4e4e;
}
.box-header{
    button{
        width:200px;
       
    }
}
.box-body{
   table{
      
    >tbody{
       
        >tr{
            >td{
                font-size: 22px;
                vertical-align: middle;
                text-align: center;
                button:first-of-type{
                    margin-right: 20px;
                }
            }
        }
    }
    th{
        text-align: center;
    }
    img {
        width:100px;
        height:100px;
    }
   }
    
}
